/* line 13, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, sass/_reset.scss */
body {
  line-height: 1;
}

/* line 29, sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, sass/_reset.scss */
* {
  box-sizing: border-box;
}

/*  SECTIONS  */
/* line 2, sass/_grid.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
/* line 9, sass/_grid.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* line 14, sass/_grid.scss */
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
/* line 18, sass/_grid.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 19, sass/_grid.scss */
.group:after {
  clear: both;
}

/* line 20, sass/_grid.scss */
.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  restrict width  */
/* line 23, sass/_grid.scss */
.restrict {
  display: block;
  margin: 0px auto;
  max-width: 1000px;
}

/*  GRID OF TWELVE  */
/* line 30, sass/_grid.scss */
.large-12 {
  float: left;
  width: 100%;
}

/* line 36, sass/_grid.scss */
.large-11 {
  float: left;
  width: 91.63%;
}

/* line 41, sass/_grid.scss */
.large-10 {
  float: left;
  width: 83.3%;
}

/* line 47, sass/_grid.scss */
.large-9 {
  float: left;
  width: 74.97%;
}

/* line 53, sass/_grid.scss */
.large-8 {
  float: left;
  width: 66.64%;
}

/* line 59, sass/_grid.scss */
.large-7 {
  float: left;
  width: 58.31%;
}

/* line 65, sass/_grid.scss */
.large-6 {
  float: left;
  width: 50%;
}

/* line 71, sass/_grid.scss */
.large-5 {
  float: left;
  width: 41.65%;
}

/* line 77, sass/_grid.scss */
.large-4 {
  float: left;
  width: 33.33%;
}

/* line 82, sass/_grid.scss */
.large-3 {
  float: left;
  width: 25%;
}

/* line 88, sass/_grid.scss */
.large-2 {
  float: left;
  width: 16.66%;
}

/* line 94, sass/_grid.scss */
.large-1 {
  float: left;
  width: 8.33%;
}

@media only screen and (max-width: 768px) {
  /* line 104, sass/_grid.scss */
  .medium-12 {
    float: left;
    width: 100%;
  }

  /* line 110, sass/_grid.scss */
  .medium-11 {
    float: left;
    width: 91.63%;
  }

  /* line 115, sass/_grid.scss */
  .medium-10 {
    float: left;
    width: 83.3%;
  }

  /* line 121, sass/_grid.scss */
  .medium-9 {
    float: left;
    width: 74.97%;
  }

  /* line 127, sass/_grid.scss */
  .medium-8 {
    float: left;
    width: 66.64%;
  }

  /* line 133, sass/_grid.scss */
  .medium-7 {
    float: left;
    width: 58.31%;
  }

  /* line 139, sass/_grid.scss */
  .medium-6 {
    float: left;
    width: 50%;
  }

  /* line 145, sass/_grid.scss */
  .medium-5 {
    float: left;
    width: 41.65%;
  }

  /* line 151, sass/_grid.scss */
  .medium-4 {
    float: left;
    width: 33.33%;
  }

  /* line 156, sass/_grid.scss */
  .medium-3 {
    float: left;
    width: 25%;
  }

  /* line 162, sass/_grid.scss */
  .medium-2 {
    float: left;
    width: 16.66%;
  }

  /* line 168, sass/_grid.scss */
  .medium-1 {
    float: left;
    width: 8.33%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 175, sass/_grid.scss */
  .small-12 {
    float: left;
    width: 100%;
  }

  /* line 181, sass/_grid.scss */
  .small-11 {
    float: left;
    width: 91.63%;
  }

  /* line 186, sass/_grid.scss */
  .small-10 {
    float: left;
    width: 83.3%;
  }

  /* line 192, sass/_grid.scss */
  .small-9 {
    float: left;
    width: 74.97%;
  }

  /* line 198, sass/_grid.scss */
  .small-8 {
    float: left;
    width: 66.64%;
  }

  /* line 204, sass/_grid.scss */
  .small-7 {
    float: left;
    width: 58.31%;
  }

  /* line 210, sass/_grid.scss */
  .small-6 {
    float: left;
    width: 50%;
  }

  /* line 216, sass/_grid.scss */
  .small-5 {
    float: left;
    width: 41.65%;
  }

  /* line 222, sass/_grid.scss */
  .small-4 {
    float: left;
    width: 33.33%;
  }

  /* line 227, sass/_grid.scss */
  .small-3 {
    float: left;
    width: 25%;
  }

  /* line 233, sass/_grid.scss */
  .small-2 {
    float: left;
    width: 16.66%;
  }

  /* line 239, sass/_grid.scss */
  .small-1 {
    float: left;
    width: 8.33%;
  }
}
/* line 21, sass/_main.scss */
* {
  transition: all 0.5s ease;
}

/* line 29, sass/_main.scss */
body h1, body .nav a {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #5c5c5c;
  font-size: 24px;
  padding: 0px 0px 20px 0px;
  line-height: 40px;
}
/* line 32, sass/_main.scss */
body h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #5c5c5c;
  font-size: 18px;
  padding: 0px 0px 20px 0px;
  line-height: 40px;
  padding: 0px 0px 0px 0px;
}
@media only screen and (max-width: 768px) {
  /* line 32, sass/_main.scss */
  body h2 {
    padding-bottom: 0px;
  }
}
/* line 39, sass/_main.scss */
body .nav a {
  font-size: 15px;
  font-weight: 400;
}
/* line 40, sass/_main.scss */
body p, body a {
  font-family: "Droid Serif", serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 25px;
  padding: 0px 0px 20px 0px;
  max-width: 900px;
}
/* line 48, sass/_main.scss */
body a {
  text-decoration: none;
  color: #2d96d8;
}
/* line 51, sass/_main.scss */
body a:hover {
  color: #83c1e8;
}

/* line 59, sass/_main.scss */
.nav-header {
  position: relative;
  background: linear-gradient(to bottom, #2d96d8 0%, #195c86 100%);
  height: 120px;
}
/* line 63, sass/_main.scss */
.nav-header .logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 50px;
}
@media only screen and (max-width: 768px) {
  /* line 63, sass/_main.scss */
  .nav-header .logo {
    left: 25px;
  }
}
/* line 71, sass/_main.scss */
.nav-header .logo img {
  width: 150px;
}
/* line 76, sass/_main.scss */
.nav-header .nav {
  position: relative;
  display: block;
  float: right;
  margin: 25px 50px 25px 0px;
}
@media only screen and (max-width: 660px) {
  /* line 81, sass/_main.scss */
  .nav-header .nav ul {
    padding-top: 25px;
  }
}
/* line 86, sass/_main.scss */
.nav-header .nav ul li {
  display: inline-block;
  width: auto;
}
/* line 90, sass/_main.scss */
.nav-header .nav ul li.current-menu-item a {
  border-bottom: 3px white solid;
}
@media only screen and (max-width: 660px) {
  /* line 94, sass/_main.scss */
  .nav-header .nav ul li.current-menu-item a {
    border-bottom: 0px white solid;
    background: #83c1e8;
    border-bottom: none;
    padding: 15px;
  }
}
@media only screen and (max-width: 660px) {
  /* line 86, sass/_main.scss */
  .nav-header .nav ul li {
    display: block;
  }
}
/* line 105, sass/_main.scss */
.nav-header .nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0px 5px;
  padding: 0px 0px 0px 0px;
  transition: none;
}
/* line 112, sass/_main.scss */
.nav-header .nav ul li a:hover {
  border-bottom: 3px white solid;
}
@media only screen and (max-width: 660px) {
  /* line 105, sass/_main.scss */
  .nav-header .nav ul li a {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 0px;
  }
  /* line 121, sass/_main.scss */
  .nav-header .nav ul li a:hover, .nav-header .nav ul li a.selected {
    background: #83c1e8;
    border-bottom: none;
    padding: 15px;
  }
}
@media only screen and (max-width: 660px) {
  /* line 76, sass/_main.scss */
  .nav-header .nav {
    z-index: 9997;
    position: fixed;
    top: 0;
    right: -102%;
    float: none;
    height: 100%;
    width: 100%;
    background: #2d96d8;
    -webkit-box-shadow: 0 0 5px 5px #0c4061;
    box-shadow: 0 0 5px 5px #0c4061;
    margin: 0px;
  }
}
/* line 145, sass/_main.scss */
.nav-header .nav-active {
  right: 0px;
}

/* line 151, sass/_main.scss */
.bun {
  display: none;
}

@media only screen and (max-width: 660px) {
  /* line 157, sass/_main.scss */
  .bun {
    z-index: 9998;
    display: block;
    position: absolute;
    left: -70px;
    top: 35px;
    height: 48px;
    width: 44px;
    padding: 10px;
    background: #2c8dcc;
    border-radius: 50%;
    cursor: pointer;
  }

  /* line 170, sass/_main.scss */
  .burger {
    position: relative;
    z-index: 9999;
    display: block;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
  /* line 177, sass/_main.scss */
  .burger span {
    border-radius: 5px;
    display: block;
    background: #fff;
    height: 4px;
    width: 24px;
    position: absolute;
  }
  /* line 184, sass/_main.scss */
  .burger span:nth-child(1) {
    top: 0px;
  }
  /* line 187, sass/_main.scss */
  .burger span:nth-child(2) {
    top: 12px;
  }
  /* line 190, sass/_main.scss */
  .burger span:nth-child(3) {
    top: 24px;
  }

  /* line 197, sass/_main.scss */
  .transparent {
    opacity: 0;
  }

  /* line 198, sass/_main.scss */
  .rotate-top {
    transform: rotatez(45deg);
    -webkit-transform-origin: 0%;
    transform-origin: 0%;
    width: 35px!important;
  }

  /* line 199, sass/_main.scss */
  .rotate-bottom {
    transform: rotatez(-45deg);
    -webkit-transform-origin: 5%;
    transform-origin: 3%;
    width: 35px!important;
  }
}
/* line 203, sass/_main.scss */
.bun-close {
  left: 15px;
  background: #e65300;
}

/* line 210, sass/_main.scss */
.main-banner, .project-banner {
  position: relative;
  text-align: center;
}
/* line 213, sass/_main.scss */
.main-banner img, .project-banner img {
  width: 100%;
  max-height: 400px;
}

/* line 220, sass/_main.scss */
.project-banner img {
  width: 100%;
  max-height: 300px;
}

/* line 230, sass/_main.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 237, sass/_main.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 244, sass/_main.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 251, sass/_main.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
/* line 258, sass/_main.scss */
.rslides .main-cta {
  position: absolute;
  margin: 0px auto;
  left: 0;
  right: 0;
  bottom: 15%;
  width: 250px;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  background: #2d96d8;
  text-transform: uppercase;
}
@media only screen and (max-width: 660px) {
  /* line 258, sass/_main.scss */
  .rslides .main-cta {
    width: 100%;
    border-radius: 0px;
    bottom: 0px;
  }
}
/* line 279, sass/_main.scss */
.rslides .main-cta span {
  position: absolute;
  display: block;
  top: 8px;
  right: 25px;
}
/* line 285, sass/_main.scss */
.rslides .main-cta:hover {
  color: #ffffff;
  background: #000;
}
/* line 288, sass/_main.scss */
.rslides .main-cta:hover span {
  right: 7px;
}

/* line 295, sass/_main.scss */
.rslides_nav {
  display: block;
  float: left;
  background: #eee;
  padding: 20px;
  color: #444;
  width: 50%;
  font-family: "Oswald", sans-serif;
}
/* line 303, sass/_main.scss */
.rslides_nav:hover {
  background: #2d96d8;
  color: #fff;
}
/* line 308, sass/_main.scss */
.rslides_nav.prev:after {
  content: " Previous";
}
/* line 313, sass/_main.scss */
.rslides_nav.next:before {
  content: "Next ";
}

/* line 322, sass/_main.scss */
.main-tagline {
  position: relative;
  background: #2e2e2e;
  padding: 20px 50px;
}
@media only screen and (max-width: 768px) {
  /* line 322, sass/_main.scss */
  .main-tagline {
    padding: 20px 25px;
  }
}
/* line 329, sass/_main.scss */
.main-tagline p, .main-tagline a {
  font-family: "Oswald", sans-serif;
  color: #fff;
  padding: 0px;
}
/* line 334, sass/_main.scss */
.main-tagline a {
  color: #2d96d8;
}
/* line 337, sass/_main.scss */
.main-tagline .readme {
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 20px;
  width: 100%;
  text-align: center;
  background-color: #eee;
}
/* line 347, sass/_main.scss */
.main-tagline .readmore {
  display: block;
  position: absolute;
  /* margin: 0px auto; */
  /* bottom: -20px; */
  left: 60px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #2e2e2e;
}
@media only screen and (max-width: 768px) {
  /* line 347, sass/_main.scss */
  .main-tagline .readmore {
    left: 20px;
  }
}
/* line 364, sass/_main.scss */
.main-tagline .tagbreak {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* line 364, sass/_main.scss */
  .main-tagline .tagbreak {
    display: block;
  }
}

/* line 374, sass/_main.scss */
.main-content {
  padding: 40px 30px;
}
@media only screen and (max-width: 768px) {
  /* line 374, sass/_main.scss */
  .main-content {
    padding: 25px;
  }
}

/* line 382, sass/_main.scss */
.centered {
  margin: 0px auto;
  max-width: 1500px;
}

/* line 389, sass/_main.scss */
.general-columns {
  padding: 0px 20px 0px;
}
@media only screen and (max-width: 768px) {
  /* line 389, sass/_main.scss */
  .general-columns {
    padding: 0px 0px 20px;
  }
}
/* line 394, sass/_main.scss */
.general-columns img {
  width: 100%;
  margin: 5px 0px 25px;
}
/* line 398, sass/_main.scss */
.general-columns .main-cta, .general-columns .secondary-cta {
  position: relative;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 35px 10px 20px;
  border-radius: 3px;
  background: #2d96d9;
  text-transform: uppercase;
}
/* line 409, sass/_main.scss */
.general-columns .main-cta span, .general-columns .secondary-cta span {
  position: absolute;
  display: block;
  top: 8px;
  right: 9px;
}
/* line 415, sass/_main.scss */
.general-columns .main-cta:hover, .general-columns .secondary-cta:hover {
  color: #ffffff;
  background: #000;
}
/* line 418, sass/_main.scss */
.general-columns .main-cta:hover span, .general-columns .secondary-cta:hover span {
  right: 4px;
}
/* line 423, sass/_main.scss */
.general-columns .secondary-cta {
  background: #444;
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
}

/* line 433, sass/_main.scss */
.project-wrapper {
  padding: 0px 10px 0px;
}
@media only screen and (max-width: 768px) {
  /* line 433, sass/_main.scss */
  .project-wrapper {
    padding: 0px 0px 20px;
  }
}

/* line 441, sass/_main.scss */
.project-wrap .project-holder {
  display: block;
  position: relative;
  background: url("../imgs/projects/project.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  margin: 0.5em;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  /* line 441, sass/_main.scss */
  .project-wrap .project-holder {
    margin: 0.5em 0em;
  }
}
/* line 453, sass/_main.scss */
.project-wrap .project-holder .project-texttop, .project-wrap .project-holder .project-text {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -100px;
  text-align: center;
  background: #2a90d1;
  padding: 20px 0px;
}
/* line 461, sass/_main.scss */
.project-wrap .project-holder .project-texttop span, .project-wrap .project-holder .project-text span {
  position: absolute;
  top: 35%;
  right: 10%;
}
/* line 467, sass/_main.scss */
.project-wrap .project-holder .project-texttop h2, .project-wrap .project-holder .project-texttop p, .project-wrap .project-holder .project-text h2, .project-wrap .project-holder .project-text p {
  color: #fff;
  padding: 0px;
  line-height: 25px;
}
/* line 473, sass/_main.scss */
.project-wrap .project-holder .project-texttop {
  bottom: 200px;
  padding: 14px 0px;
}
/* line 478, sass/_main.scss */
.project-wrap .project-holder:hover .project-text, .project-wrap .project-holder:hover .project-texttop {
  bottom: 0px;
}

/* line 487, sass/_main.scss */
ul.project-links {
  margin: 0px;
  padding: 0px;
}
/* line 490, sass/_main.scss */
ul.project-links li {
  display: block;
  float: left;
  margin: 0px 10px;
}
/* line 494, sass/_main.scss */
ul.project-links li a {
  margin-left: 0px!important;
}
/* line 498, sass/_main.scss */
ul.project-links li:first-child {
  margin-left: 0px;
}

/* line 505, sass/_main.scss */
ul.services {
  list-style-type: square;
  list-style-position: inside;
  padding: 0px 0px 40px;
}
@media only screen and (max-width: 768px) {
  /* line 505, sass/_main.scss */
  ul.services {
    padding: 0px 0px 0px;
  }
}
/* line 512, sass/_main.scss */
ul.services li {
  padding: 5px 0px;
  font-family: "Droid Serif", serif;
  font-size: 15px;
  color: #4d4d4d;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  /* line 523, sass/_main.scss */
  ul.s-last {
    padding: 0px 0px 40px;
  }
}
/* line 532, sass/_main.scss */
ul.clients-list {
  padding: 10px 0px 30px;
}
/* line 535, sass/_main.scss */
ul.clients-list li a {
  display: block;
  float: left;
  padding: 10px;
  margin: 0px 5px 5px 0px;
  background: #eee;
  text-align: center;
  color: #4d4d4d;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  cursor: default;
}
/* line 546, sass/_main.scss */
ul.clients-list li a:hover {
  background: #000;
  color: #fff;
}

/* line 558, sass/_main.scss */
footer {
  background: #eee;
  padding: 40px 30px;
}
/* line 561, sass/_main.scss */
footer section {
  padding: 0px 20px 0px;
}
@media only screen and (max-width: 768px) {
  /* line 561, sass/_main.scss */
  footer section {
    padding: 0px 0px 20px;
  }
}
/* line 566, sass/_main.scss */
footer section h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #4d4d4d;
  padding-bottom: 15px;
  text-transform: uppercase;
}
/* line 575, sass/_main.scss */
footer section p, footer section a {
  font-size: 14px;
}
/* line 578, sass/_main.scss */
footer section p {
  color: #4d4d4d;
}
/* line 581, sass/_main.scss */
footer section .copyright {
  border-top: 1px #d1d1d1 solid;
  padding-top: 15px;
  max-width: 100%;
}
