.our-people{
    flex-flow: column;
    flex: 1 100%;
    padding:20px 40px;
    background:$saj-light-grey;
    h1, p{
      color:$saj-black;
    }
}

button.main-cta{
  border:none;
  cursor:pointer;
  margin-top:auto;
}


.profiles{
  display:flex;
  flex-flow:row wrap;  
   justify-content:space-around;
}
.profile-link{
  text-decoration:none;
  position:relative;
  display:flex;
  flex-flow:column;
  flex:0 400px;
  height:auto;
  padding:50px 20px 50px;
  margin:10px 10px 50px;
  background:#fff;
  border-radius:10px;
  box-shadow:0px 2px 4px $light-grey;
  animation: fadeIn 0.4s linear;
  transition: all 0.5s ease;
  h1{
    color:$dark-grey;
    font-size:25px;
    line-height:1.5;
  }
  h2{
    color:$light-grey;
    font-size:17px;
    line-height:1.5;
    margin-bottom:20px;
  }
  p{
    color:$dark-grey;
    font-size:14px;
    line-height:1.5;
    margin:15px 0px 15px;
  }
  .pic{
    position:absolute;
    z-index: 99;
    top:-30px;
    right:-30px;
    display:block;
    width:120px;
    height:120px;
    border:5px solid #fff;
    border-radius:50%;
    box-shadow:0px 2px 3px $light-grey;
    transition: all 0.3s ease-in;
    transform-style: preserve-3d;
  }
  .info{
    padding:15px 0px 15px;
    border-top:1px $lightest-grey solid;
  }
  &:hover{
    background:#ffffff;
    box-shadow:0px 3px 35px #000;
    .pic {
      box-shadow:0px 3px 6px $dark-grey;
      transform: rotateY(-180deg);
    }   
  }
}