//single article page

.saj-article-header{
  padding:0px;
   img {
    width:100%;
    height: auto;
   }
}

.saj-article-content {
  flex-flow: column;
  max-width: 1000px;
  padding:0px 40px 0px;
  margin:0px auto;
  .content-cta{
    padding:0px;
  }
}


.saj-blog-link {
  display: block;
  font-size:10px;
  padding-bottom:20px;
}

.saj-article-item{
  display:flex;
  flex-flow: column;
}