//careers page

.job-section {
  flex-flow: column;
  flex:1 100%;
  margin: 0px 40px 20px;
  padding: 20px;
  background: $saj-light-grey;
  border-radius: 5px;
  .content-cta{
    padding: 0px;
    flex-flow: column;
    flex: 0 auto;
    align-items: flex-start;
     //medium screens
      @include bp-medium {
       flex-flow: row;
      }
    .main-cta{
      margin-bottom:15px;
      //medium screens
      @include bp-medium {
       margin-bottom:0px;
       margin-right:15px;
      }

    }
  }
}