.home-tab{
  padding:0px;
  margin: 0px;
  .tab-link{
    position: relative;
    display:flex;
    flex-flow: row flex-wrap;
    flex: 1 100%;
    align-items:center;
    text-align: left;
    background: $saj-black;
    padding:0px;
    margin:0px;
    height: 100px;
    overflow: hidden;
    padding-left:170px;
    margin-bottom: 10px;
    border-radius:5px;
    h1{
    color: $saj-dark-grey;
    @include font-size(17px);
    line-height: 1.5;
    padding:0px;
    margin:0px;
  }
    &:before{
      position:absolute;
      left:0;
      top:0;
      display:block;
      width:150px;
      height:100px;
      background:$saj-black url('imgs/project-wynyard.jpg');
      background-size:cover;
      background-position:top right;
      content: '';
    }
    &:hover{
      background:$saj-blue;
      h1{
        color: $saj-white;
      }
    }
}
  
}