.home-tab{
  padding:0px;
  margin: 0px;
  .tab-link{
    span{
        @include font-size(30px);
        color: $saj-white;
        margin: 0px 0px 10px;
    }
    position: relative;
    display:flex;
    flex-flow: column;
    flex: 1 100%;
    align-items:center;
    text-align: center;
    justify-content: center;
    background: $saj-blue;
    padding:20px;
    margin:0px;
    height: auto;
    margin-bottom: 10px;
    border-radius:5px;
    h1{
    color: $saj-white;
    @include font-size(17px);
    line-height: 1.5;
    padding:0px;
    margin:0px;
  }
  &:hover{
        background:$saj-black;
    }
}
  
}