//SAJ Sass Styles

body{
  border:10px white solid;
}

// main body styles
p{
	font-family:$font-body;
  @include font-size(15px); 
  color: $saj-grey;
  line-height: 25px;
  margin:0px 0px 20px;
}
a{
	font-family:$font-body;
  @include font-size(15px); 
  color: $saj-blue;
	text-decoration:none;
	&:hover{
			color: lighten( $saj-orange, 20% );
	}
}
h1{
	font-family:$font-titles;
  @include font-size(24px); 
  color: $saj-dark-grey;
  line-height:40px;
  margin:0px 0px 15px;
}
h2{
	font-family:$font-titles;
  @include font-size(18px); 
  color: $saj-dark-grey;
  line-height:35px;
  margin:0px 0px 15px;
}

//forms

form{
    display:flex;
    flex-flow: row wrap;
    font-family: $font-titles;
    @include font-size(12px);
    color:$saj-dark-grey;
    label{
      display:flex;
      justify-content: center;
      align-items:center;
      padding: 10px 15px;
      background: $saj-light-grey;
      cursor: pointer;
      border-radius: 5px;
      margin: 0px 10px 10px 0px;
      &:hover, &.selected{
          background: $saj-black;
          color:lighten($saj-blue, 20%);
      }
      i{
        margin-left:10px;
      }
    }
  }

//transition everything
* {
	transition: all 0.5s ease;
}

// section general

section {
	display:flex;
	flex-flow: column;
	padding: 40px 40px;
		//medium screens
    @include bp-medium {
    	flex-flow: row;
      padding: 40px 40px;
    }
}

header {
	display:flex;
	flex-flow: column;
	flex:1 100%;
	padding: 0px 40px;
		//medium screens
    @include bp-medium {
      padding: 0px 40px;
    }
}

.content-cta {
	    flex: 1 100%;
	    padding:10px 40px 40px;
}

//main content blocks and columns

.main-content {
	display:flex;
  flex-flow: row wrap;
  padding:40px 0px;
  //single column mobile followed by two column flex layout for desktop
  .content-col{
  	flex:1 100%;
  	padding:0px 40px 40px;
  	//medium screens
    @include bp-medium {
      flex:1 50%;
  		padding:0px 40px 0px;
    }
    img{
			width: 100%;
			margin: 5px 0px 25px;
		}
  }
  
}

//homepage tabs



@media print { 
 /* All your print styles go here */
 .main-tagline, .nav-header, .social, .project-link-area { display: none !important; } 

}

