
//project

//page settings and mini radio button form

.project-page{
  flex-flow: column;
}

//sort the header & filter out

.filter-contain{
  display:flex;
  flex-flow:row wrap;
  padding-bottom:40px;
  header{
    flex:0 auto;
  }
  section{
    padding:0px 40px 0px 0px;
    margin-left:auto;
  }
}

//all project list

.all-projects {
  flex-flow: column;
  padding-top:0px;
}

// projects

.single-project{
  padding:0px;
  margin:0px 0px 40px;
  width: 100%;
  h2, p{
    color:$saj-white;
  }
  p{
    font-family: $font-titles;
    color:$saj-white;
    @include font-size(12px);
  }
  .project-holder{
    display: flex;
    width:100%;
    padding:40px;
    border-radius: 5px;
  }
  .project-text{
    padding:40px;
    background:$saj-blue;
    border-radius: 5px;
    text-align: center;
    width:100%;
    //medium screens
    @include bp-medium {
      text-align: left;
      width:auto;
    }
  }
  &:hover{
    .project-holder{
      //border-bottom:6px $saj-blue solid;
    }
    .project-text{
      background:$saj-black;
      h2, p{
         color:lighten($saj-blue, 20%);
      }
    }
  }
}

//single project page

.single-project-page{
  .constraint-content{
    display:block;
    max-width:1000px;
    margin:0px auto;
  }
  header{
    img{
      width:100%;
      height:auto;
      border-radius:5px 5px 0px 0px;
    }
  }
}

//slider

.nemus-slider {
  margin:0px 0px 15px!important;
}

//share buttons

.jssocials-share-label{
  font-family: $font-titles;
    color:$saj-white;
}

.full-header-mobile {
  display:flex;
  flex:0 1 100%;
  height:250px;
  background-color:$saj-light-grey;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: bottom;
    @include bp-medium {
    display:none;
    }
}

.full-header-desktop {
  display:none;
    @include bp-medium {
    display:flex;
    flex:0 1 100%;
    height:250px;
    background-color:$saj-dark-grey;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: bottom;
    }
}

.image-container{
  display:flex;
  flex-flow:column nowrap;
}

figure{
  padding:10px;
  border-radius:0px 0px 5px 5px;
  font-family: $font-body;
  color:$saj-dark-grey;
  background:$saj-light-grey;
}

.project-logos{
  padding:10px 40px 10px;
  // flex: 1 100%;
  p{
    //display:flex;
    //flex-flow: row wrap;
    //flex: 1 100%;
    //padding:0px;
    //margin:0px;
  }
  img {
    max-width: 200px;
    height: auto;
    margin:0px 20px 20px 0px;
  }
}

.project-link-area{
  flex: 1 100%;
}

.project-links{
  display:flex;
  flex: 1 100%;
  li{
    margin:0px 10px 10px 0px;
  }
}

.project-intro{
  padding-top:20px;
  flex-flow: column;
}



