//services page

.tabbed-content{
  display:flex;
  flex-flow: column; 
  h1{
    margin:0px 0px 40px 40px;
  }
}


    .container-tabs{
      display:flex;
      flex-flow:column;
      flex:1;
      padding:40px 20px;
      background:$saj-light-grey;
      @include bp-medium {
      padding:40px;
    }
      h1{
        margin:20px 0px;
      }

    }

    // actual tabs

    @include bp-medium {
      flex-flow: row;
      padding: 40px 40px;
    }

    ul.tabs{
      display:flex;
      flex-flow: column;
      margin: 0px 0px 20px;
      padding: 0px;
      list-style:none;
      @include bp-medium {
      margin: 0px;
    }
      @include bp-medium {
        flex-flow: row;
      }
    }
    ul.tabs li{
      display:flex;
      justify-content: flex-start;
      font-family: $font-titles;
      background:$saj-light-grey;
      color: $saj-grey;
      cursor: pointer;
      padding:20px 20px;
      margin-right: 0px;
      @include bp-medium {
      margin-right: 5px;
    }
      span{
        margin:0px 10px 0px 0px;
      }
    }

    ul.tabs li.current{
      background:$saj-white;
      color: $saj-black;
    }

    // tab content

    .tab-content{
      display: none;
      padding: 40px 20px;
      flex:0 1 auto;
      //width: 100%;
      background:$saj-white;
      flex-flow: column;
      @include bp-medium {
        flex-flow: row;
      }
      ul{
        font-family: $font-body;
        color: $saj-grey;
        line-height: 1.5;
        list-style: disc outside none;
        margin-left: 20px;
        @include bp-medium {
      margin-left: 0px;
    }
      }
      ul.inner{
            padding-left: 15px;
            opacity: 0.8;
      }
    }

    .tab-content.current{
       display: flex;
      // flex:1 100%;
    }

    .col-one{
      @include bp-medium {
        flex:5 100%;
        padding-right:100px;
      }
      
    }

    .col-two{
      @include bp-medium {
       flex:1 400px;
      }
      
      li{
        @include font-size(15px);
        line-height: 25px;
      }
    }

    // project linking

    .projects-saj-contain {
      display:flex;
      flex-flow: column nowrap;
      @include bp-medium {
       flex-flow: row nowrap;
      }
    }

    .project-saj {
      a{
        display:flex;
        background:$saj-blue;
        flex-flow: column nowrap;
        margin-bottom: 20px;
        cursor:pointer;
        @include bp-medium {
        margin: 10px;
        }
        img{
          width:100%;
        }
        button{
          display:flex;
          border:none;
          text-align: center;
          justify-content: center;
          align-content:center;
          appearance:none;
          padding:20px;
          font-family: $font-titles;
          color:$saj-white;
          background:transparent;
          cursor:pointer;
        }
        &:hover{
          background:$saj-black;
        }
      }
    }

    










