//services page

.tabbed-content{
  display:flex;
  flex-flow: column; 
  h1{
    margin:0px 0px 40px 40px;
  }
}


    .container-tabs{
      display:flex;
      flex-flow:column;
      flex:1;
      padding:40px 20px;
      background:$saj-light-grey;
      @include bp-medium {
      padding:40px;
    }
      h1{
        margin:20px 0px;
      }

    }

    // actual tabs

    @include bp-medium {
      flex-flow: row;
      padding: 40px 40px;
    }

    ul.tabs{
      display:flex;
      flex-flow: column;
      margin: 0px 0px 20px;
      padding: 0px;
      list-style:none;
      @include bp-medium {
      margin: 0px;
    }
      @include bp-medium {
        flex-flow: row;
      }
    }
    ul.tabs li{
      display:flex;
      justify-content: flex-start;
      font-family: $font-titles;
      background:$saj-light-grey;
      color: $saj-grey;
      cursor: pointer;
      padding:20px 20px;
      margin-right: 0px;
      @include bp-medium {
      margin-right: 5px;
    }
      span{
        margin:0px 10px 0px 0px;
      }
    }

    ul.tabs li.current{
      background:$saj-white;
      color: $saj-black;
    }

    // tab content

    .tab-content{
      display: none;
      padding: 40px 20px;
      flex:0 1 auto;
      //width: 100%;
      background:$saj-white;
      flex-flow: column;
      @include bp-medium {
        flex-flow: row;
      }
      ul{
        font-family: $font-body;
        color: $saj-grey;
        line-height: 1.5;
        list-style: disc outside none;
        margin-left: 20px;
        @include bp-medium {
      margin-left: 0px;
    }
      }
      ul.inner{
            padding-left: 15px;
            opacity: 0.8;
      }
    }

    .tab-content.current{
       display: flex;
      // flex:1 100%;
    }

    .col-one{
      @include bp-medium {
        flex:5 100%;
        padding-right:100px;
      }
      
    }

    .col-two{
      @include bp-medium {
       flex:1 400px;
      }
      
      li{
        @include font-size(15px);
        line-height: 25px;
      }
    }

    // project linking

    .projects-saj-contain {
      display:flex;
      flex-flow: column nowrap;
      justify-content:flex-start;
      @include bp-medium {
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      :nth-child(2){
        @include bp-medium {
        margin:0px 20px;
        }
      }
    }

    .project-saj {
      display:flex;
      flex: 0 100%;
      font-family: $font-titles;
      margin-bottom: 20px;
      @include bp-medium {
        flex: 0 350px;
        margin-bottom: 0px;
        }
      a{
        display:flex;
        flex-flow: column;
        align-items: center;
        flex: inherit;
        background:$saj-grey;
        img{
          width:100%;
          height:auto;
        }
        button{
          display:flex;
          align-self:stretch;
          margin:0px!important;
          padding:20px;
          background:$saj-blue;
          border:none;
          cursor:pointer;
          font-family: $font-titles;
          color: $saj-light-grey;
          @include font-size(14px);
          
        }
        &:hover{
          button{
              background: #000;
              color:lighten($saj-blue, 20%);
              }
            }
      }
    }










