// saj site variables


//color scheme
$saj-white : #ffffff;
$saj-black : #2e2e2e;

$saj-blue : #2d96d8;

$saj-dark-grey : #5c5c5c;
$saj-grey : #4d4d4d;
$saj-light-grey : #eeeeee;

$saj-blue : #2d96d8;
$saj-orange : #e65300;


//fonts
$font-titles: 'Oswald', sans-serif;
$font-body: 'Droid Serif', serif;
$font-buttons: 'Oswald', sans-serif;
$font-icons: saj-icons;